<%- include ./layout/head.ejs %>
	<div id="explain">
		<h2>Voor jouw inspiratie!</h2>
		<p>Reis al geboekt? Of weet je nog niet waar je heen wil? Laat je inspireren met de volgende reisverhalen voor nu én onderweg. Bewaar je favoriete verhalen en droom alvast weg in het vliegtuig.</p>
		<a href="#login" class="button">Inloggen / Registreren</a>
		<a href="#hero" class="button active">Kies je bestemming</a>
	</div>
	<div id="hero">
		<section id="winter">
			<div>
				<h2>Winter</h2>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident repellat pariatur magnam sed debitis! Iusto eos quo modi architecto at beatae labore vel? Nostrum quod quaerat nemo, corporis maxime nobis.</p>
			</div>
			<img src="/images/winter.jpg">
		</section>
		<section id="weekend">
			<div>
				<h2>Weekend</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum deserunt praesentium ut non architecto, odio eaque sed rerum sunt totam, magni incidunt et. Sint est reprehenderit recusandae ab nemo autem!</p>
			</div>
			<img src="/images/weekend.jpg">
		</section>
		<section id="summer">
			<div>
				<h2>Zomer</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti non incidunt veritatis, provident, obcaecati ex reiciendis perferendis minima dolores officiis aut, ipsam facilis in et esse dolor blanditiis aperiam. Tenetur.</p>
			</div>
			<img src="/images/summer.jpg">
		</section>
	</div>
<%- include ./layout/foot.ejs %>
