<%- include ./layout/head.ejs %>
	<% if (!locals.user) { %>
		<div id="explain" class="imaged">
			<section>
				<div>
					<h2>Voor jouw inspiratie!</h2>
					<p>Reis al geboekt? Of weet je nog niet waar je heen wil? Laat je inspireren met de volgende reisverhalen voor nu én onderweg. Bewaar je favoriete verhalen en droom alvast weg in het vliegtuig.</p>
					<a href="#login" class="button">Inloggen / Registreren</a>
					<a href="#hero" class="button active">Kies je bestemming</a>
				</div>
			</section>
			<img src="/images/fly.jpg">
		</div>
	<% } %>
	<div id="hero">
		<section id="winter">
			<div>
				<h2>Winter</h2>
				<p>Brr! Nee dat is niet de kou, maar de skilift. Jij houdt van avontuur in de bergen. En daarna natuurlijk glühwein, met een verhaal ter inspiratie voor je volgende avontuur!</p>
			</div>
			<img src="/images/winter.jpg">
		</section>
		<section id="weekend">
			<div>
				<h2>Weekend</h2>
				<p>Cityhoppen is je <em>middle name</em>. Vrijwel geen Europese stad heeft nog geheimen voor je. En die reis er naartoe? Ach, wellicht vindt je in deze verhalen wel iets nieuws!</p>
			</div>
			<img src="/images/weekend.jpg">
		</section>
		<section id="summer">
			<div>
				<h2>Zomer</h2>
				<p><em>Vamos a la playa!</em> Even lekker uitrusten, voetjes in het zand, cocktail in de hand, verhalen voor in dromenland.</p>
			</div>
			<img src="/images/summer.jpg">
		</section>
	</div>
<%- include ./layout/foot.ejs %>
