<%- include ./layout/head.ejs %>
	<div id="hero">
		<section id="winter">
			<h2>Winter</h2>
			<img src="https://loremflickr.com/1920/1080/winter">
		</section>
		<section id="weekend">
			<h2>Weekend</h2>
			<img src="https://loremflickr.com/1920/1080/city">
		</section>
		<section id="summer">
			<h2>Zomer</h2>
			<img src="https://loremflickr.com/1920/1080/summer">
		</section>
	</div>
<%- include ./layout/foot.ejs %>
