<%- include ./layout/head.ejs %>
	<div id="hero">
		<section id="winter">
			<div>
				<h2>Winter</h2>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident repellat pariatur magnam sed debitis! Iusto eos quo modi architecto at beatae labore vel? Nostrum quod quaerat nemo, corporis maxime nobis.</p>
			</div>
			<img src="/images/winter.jpg">
		</section>
		<section id="weekend">
			<div>
				<h2>Weekend</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum deserunt praesentium ut non architecto, odio eaque sed rerum sunt totam, magni incidunt et. Sint est reprehenderit recusandae ab nemo autem!</p>
			</div>
			<img src="/images/weekend.jpg">
		</section>
		<section id="summer">
			<div>
				<h2>Zomer</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti non incidunt veritatis, provident, obcaecati ex reiciendis perferendis minima dolores officiis aut, ipsam facilis in et esse dolor blanditiis aperiam. Tenetur.</p>
			</div>
			<img src="/images/summer.jpg">
		</section>
	</div>
<%- include ./layout/foot.ejs %>
