<!DOCTYPE html>
<html>
<head>
    <title><%- title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.4.0/trianglify.min.js"></script> -->

    <!-- <script defer src='/scripts/script.min.js'></script> -->

    <link rel='stylesheet' href='/css/stylesheet.css' />
    <!-- <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' /> -->
	<link rel="shortcut icon" href="about:blank">
</head>
<body>