<!DOCTYPE html>
<html>
<head>
    <title><%- title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<script>var exports = {};</script>
    <script defer src='/js/client.js' type="module"></script>
	<script defer src='/js/dragscroll.js'></script>

	<link rel='stylesheet' href='/css/stylesheet.css' />
	
	<script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>

	<link rel="shortcut icon" href="null">
</head>
<% if (locals.user) { %>
	<body class="user">
<% } else { %> 
	<body>
<% } %>
	<header>
		<div id="logo">
			<svg xmlns="http://www.w3.org/2000/svg" width="60" height="72" viewBox="-298.5 419.5 60 72"><path fill="#fff" d="M-239.5 449.053c0-15.906-12.813-28.553-29-28.553-16.19 0-29 12.646-29 28.553 0 15.91 12.81 28.557 29 28.557 16.187 0 29-12.647 29-28.557z"/><path fill="#00D66C" d="M-255.686 453.244h-1.633c-1.626 0-2.325.86-2.56 2.523-.407 3.04-2.853 5.104-6.055 5.104-3.725 0-6.113-2.694-6.113-6.596V445.1c0-.363-.048-.688-.14-.98.352.152.77.236 1.246.236h8.56c1.632 0 2.563-.92 2.563-2.524v-.745c0-1.607-.93-2.523-2.562-2.523h-4.83V433.4c0-1.605-.934-2.522-2.563-2.522h-1.166c-1.63 0-2.56.917-2.56 2.522v8.43c0 .365.05.69.142.98a3.121 3.121 0 0 0-1.25-.235h-8.557c-1.63 0-2.562.92-2.562 2.524v.743c0 1.606.93 2.524 2.562 2.524h4.833v5.905c0 7.398 4.832 12.56 12.4 12.56 7.042 0 11.7-4.412 12.575-11.065.234-1.663-.873-2.523-2.33-2.523z"/></svg>
			<h1>Transavia.com</h1>
		</div>
		<a id="info" href="#info" class="button subtle inv">
			<i class="fas fa-info-circle"></i>
		</a>
		<% if (locals.user) { %>
			<a id="user" href="#user" class="button">
				<i class="fas fa-user-circle"></i>
				<span><%- locals.user.name %></span>
			</a>
		<% } else { %> 
			<a id="user" href="#user" class="button">
				<i class="fas fa-user-circle"></i>
			</a>
		<% } %>
		<!-- <nav>
			<ul>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
			</ul>
		</nav> -->
	</header>